.container{
    background-position: center center;
    display: grid;
    gap:1.5em;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1em;
    margin: 1em;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pageButton{
    width: 25px;
    font-family: monospace;
    text-align: center;
    align-items: center;
    margin:2px;
    padding: 3px;
    border-radius: 500px;
    border: 0;
    box-shadow: 1.5px -1px black;  
}

.selectedPageButton{
    background-color: rgba(0, 0, 0, 0.173);
    font-family: monospace;
    font-size: large;
    color:rgb(0, 0, 0);
    width: 25px;
    text-align: center;
    align-items: center;
    margin:5px;
    padding: 3px;
    border-radius: 500px;
    border: 0;
    box-shadow: 2px -1px rgb(0, 0, 0); 
}

@media (min-width:600px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:860px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1250px){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width:1450px){
    .container{
        grid-template-columns: repeat(5,1fr);
    }
}