.navBar{
    z-index: 999;
    padding-top: 1rem;
    padding-bottom: 1rem;   
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.816);
    border-radius: 15px;
}

.buttons{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    display: flex;
    justify-content: space-around;
}

.search{
    padding-top: 0.95rem;
    
    padding-bottom: 1rem; 
    display: flex;
    justify-content: space-around;
}

.orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orders select{
    font-family: monospace;
    text-align: center;
    width: 150px;
    padding: 3px;
    border-radius: 30px;
    appearance: none;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter select{
    font-family: monospace;
    text-align: center;
    width: 170;
    padding: 3px;
    border-radius: 30px; 
    appearance: none;
}

.activity{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    display: flex;
    justify-content: space-around;
}

.navBarbutton{
    font-family: monospace;
    font-size: 1rem;
    background-color: rgba(49, 186, 245, 0.811);
    border-radius: 30px;
    border: 0;
    padding: 2.5px 12.5px 2.5px 12.5px;
    box-shadow:2px -2px rgb(1, 9, 9) ;
}